[Desktop Entry]
Type=Application
Name=gnome-flashback-compiz-session
NoDisplay=true
Comment=improved dynamic tiling window manager
Exec=gnome-flashback-compiz-session
Icon=preferences-system-windows
X-GNOME-WMName=compiz-gnome
X-GNOME-Autostart-Phase=WindowManager
X-GNOME-Provides=windowmanager
X-GNOME-Autostart-Notify=false
