[Desktop Entry]
Type=Application
Exec=openbox-at-gnome-flashback
Icon=openbox
NoDisplay=true


##
## X 
##
# name we put on the WM spec check window
X-GNOME-WMName=Openbox
# gnome-session autostart
X-GNOME-Autostart-Notify=true
X-GNOME-Autostart-Phase=WindowManager
X-GNOME-Provides=windowmanager
# name of loadable control center module
X-GNOME-WMSettingsModule=openbox
# back compat only
X-GnomeWMSettingsLibrary=openbox
# Ubuntu stuff
X-Ubuntu-Gettext-Domain=openbox


##
## Name
##
Name=Openbox At Gnome
Name[zh_CN]=Openbox At Gnome
Name[zh_HK]=Openbox At Gnome
Name[zh_TW]=Openbox At Gnome


