[Desktop Entry]
Type=Application
Exec=openbox-at-mate
Icon=openbox
NoDisplay=true


##
## X 
##
# name we put on the WM spec check window
X-MATE-WMName=Openbox
# mate-session autostart
X-MATE-Autostart-Notify=true
X-MATE-Autostart-Phase=WindowManager
X-MATE-Provides=windowmanager
# name of loadable control center module
X-MATE-WMSettingsModule=openbox
# back compat only
X-MateWMSettingsLibrary=openbox
# Ubuntu stuff
X-Ubuntu-Gettext-Domain=openbox


##
## Name
##
Name=Openbox At Mate
Name[zh_CN]=Openbox At Mate
Name[zh_HK]=Openbox At Mate
Name[zh_TW]=Openbox At Mate


